<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="stylesheet.css" /> <!--Since "stylesheet" folder is already included inside "server1.js", only need to include "file name" here-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body class="short">
    
    <header>
		<div id="quicklinks">
			<a href="/">DDChiang</a>
		
				<ul>
					<li><a href="/">Home/Portolio</a></li>
					<li><a href="resume.html">Resume</a></li>
					<li><a href="skills.html">Skills</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
		</div>
		<nav>
			<ul>
				<li><a href="resume.html">Resume</a></li>
				<li><a href="skills.html">Skills</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="page">
		<p>
			<span class="title">Skills</span>
            Web Development: JavaScript, jQuery, HTML/LESS/SASS(css), Angular.js, Chart.js<br /><br />
            Learning: D3.js, Node.js<br /><br />
		    API's: Facebook, Twitter, Flickr <br><br>
            Design: Photoshop, Illustrator, Paint :D<br /><br />
            Strengths/Interests: Dynamic Data Rendering + Beautiful and Efficient UI's<br /><br />
           <em>Github/</em><a href="https://github.com/DDChiang/">DDChiang</a><br /><br />
		   <a href="https://github.com/DDChiang/test-node/tree/master/sites/city-by-flickr">Github - City By Flickr</a><br /><br />
            <a href="https://github.com/DDChiang/test-node/tree/master/sites/charts">Github - Polar Chart UI</a><br /><br />
           <a href="https://github.com/DDChiang/test-node/tree/master/sites/grocery"> Github - Grocery App</a><br /><br />
            <a href="https://github.com/DDChiang/test-node/tree/master/sites/gringotts">Github - Gringotts</a><br /><br />
            
		</p>
	</div>
   
  	
	</body>
</html>
<script>
    var fullPageState = false;
    var browserW = $(window).width();

    function changeFullPageState() {
        if ((browserW > 648)) {

            if ($('#quicklinks ul').not(':hidden')) {
                $('#quicklinks ul').is(':hidden')
            }

            if (!fullPageState) {
                fullPageState = true;
            }

        }
        else {
            if (fullPageState) {
                fullPageState = false;
            }
        }
    }

	$(window).load(function() {
		$('body').fadeIn(1000, function() {});
	});

	$(function () {

	    changeFullPageState();

	    $(document).click(function () {
	        if (!$('#quicklinks ul').is(':hidden') && (!fullPageState))   //event.target.closest not supported in IE and mobile?
	        {
	            $('#quicklinks ul').slideToggle('fast', function () { });
	        }
	    });

	    $('#quicklinks a').click(function (e) {
	        if (fullPageState) {

	        }
	        else {
	            e.preventDefault();
	            e.stopPropagation();
	            $('#quicklinks > ul').slideToggle('fast', function () { });
	        }
	    });

		$(window).scroll(function () {
			$('#quicklinks > ul').css({ 'display': 'none' });
		});
	});

	$(window).resize(function () {
	    browserW = $(window).width();
	    changeFullPageState();
	});

</script>
