<div class="img-panel">
	   <img src="images/wikipedia_post_office.jpg">
	   <div class="panel-text">
		   <div id="hero-text">Trust is everything.</div>
		   <div id="caption">Even when the going gets tough, we remain a bank for the people.</div>
		   <div id="start-bttn"><a href="/gringotts/#/form">START YOUR ACCOUNT</a></div>
	   </div>
	 </div>
	 <div class="content-wrapper">
	   <div class="icon-box-wrapper-1"> 
	     <div class="icon-box-wrapper-content">
			 <div class="icon-box">
			   <div class="icon-pic"><img src="logos/school.png"></div>
			   <div class="icon-blurb">
				 <div class="icon-blurb-title">Institution</div>
				 We’re a Swiss and internationally
					 recognized bank.
			   </div>
			 </div>
			 <div class="icon-box">
			   <div class="icon-pic"><img src="logos/white-book.png"></div>
			   <div class="icon-blurb">
				 <div class="icon-blurb-title">By the Rules</div>
				 We’re creative but we always make 
					 the right choices.

			   </div>
			 </div>
			 <div class="icon-box">
			   <div class="icon-pic"><img src="logos/white-phone.png"></div>
			   <div class="icon-blurb">
				 <div class="icon-blurb-title">On the Go</div>
				 Take us on the go. We’re on desktop,
					tablet, and mobile.
			   </div>
			   </div>
		 </div>
	   </div>
	   <div class="icon-box-wrapper-2">
	     <div class="icon-box-wrapper-content">
		    <div class="icon-box-wrapper-blurb"> 
			  <span id="hero-smaller-text">Trust matters.</span>     Got questions? 
			  Feel free to reach our customer service representative at <span id="phone">(323) 444-4344</span>
			</div>
			<div class="icon-box">
			   <div class="icon-pic"><img src="logos/pencil.png"></div>
			   <div class="icon-blurb">
				 Our  employees go through rigorous background checks and hold a MI-7 
					  banking license.
			   </div>
			 </div>
			 <div class="icon-box">
			   <div class="icon-pic"><img src="logos/people.png"></div>
			   <div class="icon-blurb">
				 We specialize in personal and business banking 
			  services, family plans, credit loans, and 
									   investments.
			   </div>
			 </div>
			 <div class="icon-box">
			   <div class="icon-pic"><img src="logos/lock.png"></div>
			   <div class="icon-blurb">
				  We invest in our people, our customers, 
				and our security as an FDIC insured 
									 institution.
			   </div>
			 </div>
		 </div>
	   </div>
	 </div>